---
import { footerConfig } from '../config';

const currentYear = new Date().getFullYear();
const { copyrightName, sections } = footerConfig;
---

<footer class="w-full border-t border-(--color-surface) bg-(--color-bg) mt-5">
  <div class="max-w-7xl w-full p-10 mx-auto">
    <div class="flex flex-wrap justify-center gap-x-16 gap-y-10 mb-10">
      {
        sections.map((section) => (
          <div class="min-w-30">
            <h3 class="text-xs font-semibold text-white uppercase tracking-wider mb-3 text-center md:text-left">
              {section.title}
            </h3>
            <ul class="space-y-3 text-center md:text-left">
              {section.links.map((link) => (
                <li>
                  <a
                    href={link.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-sm text-(--color-muted) hover:text-(--color-accent) transition-colors"
                  >
                    {link.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>

    <div class="border-t border-(--color-surface) pt-5 text-center">
      <p class="text-sm text-(--color-muted)">
        &copy; {currentYear} {copyrightName}. All rights reserved.
      </p>
    </div>
  </div>
</footer>