---
import { Icon } from 'astro-icon/components';

interface Props {
    prevPost?: any;
    nextPost?: any;
}

const { prevPost, nextPost } = Astro.props;

const hasPrev = !!prevPost;
const hasNext = !!nextPost;
const showNavigation = hasPrev || hasNext;
---

{showNavigation && (
    <div class="grid grid-cols-2 gap-3 w-full">
        {hasPrev ? (
            <div class="rounded-xl bg-(--color-surface) p-3 flex">
                <!-- left area -->
                <a href={`/posts/${prevPost.id}`} class="rounded-l-xl w-full flex items-center justify-start cursor-pointer px-6 gap-4 group">
                    
                    <!-- left arrow -->
                    <Icon name="mingcute:left-line" class="size-12 filter group-hover:text-(--color-accent) transition shrink-0"/>
                    
                    <!-- prevPicture -->
                    {prevPost.data.image?.url && (
                        <div class="size-16 rounded-lg overflow-hidden border-2 border-(--color-surface) shrink-0">
                            <img src={prevPost.data.image.url} alt={prevPost.data.image.alt || "Cover"} class="shrink-0 size-full object-cover group-hover:scale-110 transition duration-500" />
                        </div>
                    )}
                    
                    <!-- prevText -->
                    <div class="flex flex-col items-start text-left min-w-0 flex-1">
                        <span class="text-sm text-(--color-muted) uppercase font-bold">
                            PREV
                        </span>
                        <span class="text-lg font-bold text-white leading-tight group-hover:text-(--color-accent) transition truncate w-full">
                            {prevPost.data.title}
                        </span>
                    </div>
                </a>
            </div>
        ) : (
            <div></div>
        )}

        {hasNext ? (
            <div class="rounded-xl bg-(--color-surface) p-3 flex">
                <!-- right area -->
                <a href={`/posts/${nextPost.id}`} class="rounded-r-xl w-full flex items-center justify-end cursor-pointer group px-6 gap-4">
                    
                    <!-- nextText -->
                    <div class="flex flex-col items-end text-right min-w-0 flex-1">
                        <span class="text-sm text-(--color-muted) uppercase font-bold">
                            Next
                        </span>
                        <span class="text-lg font-bold text-white leading-tight group-hover:text-(--color-accent) transition truncate w-full">
                            {nextPost.data.title}
                        </span>
                    </div>
                    
                    <!-- nextPicture -->
                    {nextPost.data.image?.url && (
                        <div class="size-16 rounded-lg overflow-hidden border-2 border-(--color-surface) shrink-0">
                            <img src={nextPost.data.image.url} alt={nextPost.data.image.alt || "Cover"} class="shrink-0 size-full object-cover group-hover:scale-110 transition duration-500" />
                        </div>
                    )}

                    <!-- right arrow -->
                    <Icon name="mingcute:right-line" class="size-12 filter group-hover:text-(--color-accent) transition shrink-0"/>
                    
                </a>
            </div>
        ) : (
            <div></div>
        )}
    </div>
)}