---
import { Icon } from 'astro-icon/components';

interface Props {
    prevTitle: string;
    nextTitle: string;

    prevPicture?: string; 
    nextPicture?: string;

    prevUrl: string;
    nextUrl: string;
}

const { 
    prevTitle, 
    nextTitle,

    prevPicture, 
    nextPicture,

    prevUrl, 
    nextUrl 
} = Astro.props;
---

<div class="border-2 border-gray-700 flex justify-center w-full h-20 rounded-[50px] bg-gray-800 text-white">
    <!-- left area -->
    <a href={prevUrl} class="rounded-l-[50px] w-full flex items-center justify-start cursor-pointer hover:bg-gray-300 duration-300 transition group px-6 gap-4">
        
        <!-- left arrow -->
        <Icon name="mingcute:left-line" class="size-12 filter group-hover:drop-shadow-[0_0_2px_rgba(0,0,0,1)] group-hover:text-black transition"/>

        <!-- prevPicture -->
        {prevPicture && (
            <div class="size-16 rounded-lg overflow-hidden border-2 border-gray-700">
                <img src={prevPicture} alt="Cover" class="shrink-0 size-full object-cover group-hover:scale-110 transition duration-500" />
            </div>
        )}
        
        <!-- prevText -->
        <div class="flex flex-col items-start text-left">
            <span class="text-[12px] text-[#828282] uppercase font-bold">
                PREV
            </span>
            <span class="text-[24px] font-bold text-white leading-tight group-hover:text-black transition">
                {prevTitle}
            </span>
        </div>
    </a>

    <!-- center line -->
    <div class="w-0.5 bg-[#444444]"></div>

    <!-- right area -->
    <a href={nextUrl} class="rounded-r-[50px] w-full flex items-center justify-end cursor-pointer hover:bg-gray-300 duration-300 transition group px-6 gap-4">
        
        <!-- right arrow -->
        <div class="flex flex-col items-end text-right">
            <span class="text-[12px] text-[#828282] uppercase font-bold">
                Next
            </span>
            <span class="text-[24px] font-bold text-white leading-tight group-hover:text-black transition">
                {nextTitle}
            </span>
        </div>

        <!-- nextPicture -->
        {nextPicture && (
            <div class="size-16 rounded-lg overflow-hidden border-2 border-[#423f3f]">
                <img src={nextPicture} alt="Cover" class="shrink-0 size-full object-cover group-hover:scale-110 transition duration-500" />
            </div>
        )}

        <!-- nextText -->
        <Icon name="mingcute:right-line" class="size-12 filter group-hover:drop-shadow-[0_0_2px_rgba(0,0,0,1)] group-hover:text-black transition"/>
        
    </a>
</div>