---
import Layout from "./Layout.astro";
import SideBarLeft from "@components/SideBarLeft.astro";
import SideBarRight from "@components/SideBarRight.astro";
import ProfileCard from "@components/ProfileCard.astro";
import Comment from "@components/Comment.astro";
import NextPrevButton from "@components/NextPrevButton.astro";
import { authorConfig } from '../config';

const { headings, nextPost, prevPost } = Astro.props;
---

<Layout>
    <div class="flex max-w-[1440px] py-5 gap-5 mx-auto justify-center text-white items-start">
        <div class="w-full lg:flex-4 panel">
            <div class="mb-10">
                <slot />
            </div>

            <ProfileCard avatar={authorConfig.avatar} name={authorConfig.name} media={authorConfig.media}>
                {authorConfig.bio}
            </ProfileCard>
            
            <NextPrevButton 
                nextPost={nextPost}
                prevPost={prevPost}
            />
        </div>

        <div class="lg:flex-1 panel sticky top-5 lg:h-[calc(100vh-9.5rem)] flex flex-col">
            <SideBarRight headings={headings} />
        </div>
    </div>
</Layout>